#mm-wrapper {
    --width_btJogar: 123px;
    --height_btJogar: 32px;

    --width_h1Titulo: 96px;
    --height_h1Titulo: 29.05px;
}

#mm-cartas {
    position: absolute;
    color: #757575;

    left: calc(50vw - calc(var(--width_h1Titulo) / 2));
    top: calc(20vh - calc(var(--height_h1Titulo) / 2));
    width: var(--width_h1Titulo);
    height: var(--height_h1Titulo);

    font-family: Inter;
    font-size: 24px;
    font-weight: 700;
    text-align: center;
}

#mm-botaoJogar {
    position: absolute;
    
    left: calc(50vw - calc(var(--width_btJogar) / 2));
    top: calc(50vh - calc(var(--height_btJogar) / 2));
    width: var(--width_btJogar);
    height: var(--height_btJogar);

    font-family: "Segoe UI";
    font-size: 15px;
    font-weight: 400;
}
